<div id="benefit">
        <div class="row">
            <div class="col l6 offset-l3 text-center">
                <h2 class="text-blue">Keuntungan Bersama Kami</h2>
                <p>Banyak sekali keuntungan membuat website dan bekerja sama dengan kami salah satunya seperti uraian dibawah ini</p>
            </div>
        </div>
        <div class="row">
            
            {% for post in site.posts %}
                <div class="col l4">
                <div class="card horizontal">
                    <div class="card-image">
<!--                         <img src="image/road.jpg" alt=""> -->
                        <img src="image/{{post.image}}">
                    </div>
                    <div class="card-stacked" style="padding-bottom:20px">
                        <div class="card-content">
                            <h3>{{ post.title }}</h3>
                            <p>{{ post.excerpt }}</p>
                        </div>
                    </div>
<!--                     <div class="card-action">
                        <a href="{{ post.url }}">Pelajari Lebih Lanjut</a>
                    </div> -->
                </div>
            </div>
            {% endfor %}

        </div>
    </div>