<div id="benefit">
        <div class="row">
            <div class="col l6 offset-l3 text-center">
                <h2 class="text-blue">Keuntungan Bersama Kami</h2>
                <p>Banyak sekali keuntungan membuat website dan bekerja sama dengan kami salah satunya seperti uraian dibawah ini</p>
            </div>
        </div>
        <div class="row">
            <div class="col l4">
                <div class="card horizontal">
                    <div class="card-image">
                        <img src="image/road.jpg" alt="">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <h3>BANTU CALON CLIENTMU!</h3>
                            <p>Dengan memiliki website nantinya kamu bisa dengan cepat memiliki reputasi yang dapat membangun usaha. intinya dengan website kamu gampang ngenalinnya lewat interne</p>
                        </div>
                    </div>
                    <div class="card-action">
                        <a href="#">Pelajari Lebih Lanjut</a>
                    </div>
                </div>
            </div>
            <div class="col l4">
                <div class="card horizontal">
                    <div class="card-image">
                        <img src="image/materials.jpg" alt="">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <h3>SEMAKIN DIPERCAYA</h3>
                            <p>Kamu bisa meyakinkan bisnismu murni bukan penipuan. Diluar sana banyak sekali orang-orang yang membuat website namun masih menggunakan blog yang masih ada embel-embel subdomainnya</p>
                        </div>
                    </div>
                    <div class="card-action">
                        <a href="#">Pelajari Lebih Lanjut</a>
                    </div>
                </div>
            </div>
            <div class="col l4">
                <div class="card horizontal">
                    <div class="card-image">
                        <img src="image/Assets/bike-print-promo-1.jpg" alt="">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <h3>BANTU CALON CLIENTMU!</h3>
                            <p>Bantu calon clientmu dengan penyampaian informasi yang lengkap produk yang mau kamu kenalkan ke mereka lewat website.</p>
                        </div>
                    </div>
                    <div class="card-action">
                        <a href="#">Pelajari Lebih Lanjut</a>
                    </div>
                </div>
            </div>
            <div class="col l4">
                <div class="card horizontal">
                    <div class="card-image">
                        <img src="image/coffee.jpg" alt="">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <h3>MEMUDAHKAN TARGET</h3>
                            <p>Kami menggunakan teknologi Google Analytics dan juga Facebook Opengraph untuk melakukan pelacakan. Dengan teknologi ini informasi pengunjung harian, bulanan dan tahunan yang membuka tercatat dengan rapi.
                            </p>
                        </div>
                    </div>
                    <div class="card-action">
                        <a href="#">Pelajari Lebih Lanjut</a>
                    </div>
                </div>
            </div>
            <div class="col l4">
                <div class="card horizontal">
                    <div class="card-image">
                        <img src="image/materials.jpg" alt="">
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <h3>HEMAT BIAYA!</h3>
                            <p>Seberapa banyak informasi produk yang bisa disampaikan melalui media yang dicetak? dengan menggunakan website anda tidak perlu mengeluarkan biaya mencetak dan mereka tinggal membacanya melalui website yang kami buat.</p>
                        </div>
                    </div>
                    <div class="card-action">
                        <a href="#">Pelajari Lebih Lanjut</a>
                    </div>
                </div>
            </div>
        </div>
    </div>