 <footer>
        <div class="menu">
            <ul class="center">
                <li><a href="">Syarat & Ketentuan</a></li>
                <li><a href="">Tentang Kami</a></li>
                <li><a href="">Layanan-layanan</a></li>
                <li><a href="">Pertanyaan sering diajukan</a></li>
                <li><a href="">Kontak</a></li>
                <li><a href="">Dukungan</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="col l2 s12 offset-l5">
                <h5>
                        <i class="icon ion-cloud"></i>
                        <span class="thin">WB</span><span class="bold">Monstr</span>
                    </h5>
            </div>
        </div>
        <div class="row text-center">
            <p class="copyright">
                &copy; 2016 WBMonstr. All Rights Reserve
            </p>
        </div>
    </footer>
<script src="js/jquery.min.js"></script>

<script src="js/materialize.min.js"></script>
<script src="js/nprogress.js"></script>
<script src="js/script.js"></script>


