<footer>
    <div class="row">
        <div class="col l2 offset-l5">
            <img src="image/Assets/wbmonstr.png" class="img-full" alt="">
        </div>
    </div>
    <div class="menu">
        <ul class="center">
            <li><a href="">Syarat & Ketentuan</a></li>
            <li><a href="">Tentang Kami</a></li>
            <li><a href="">Layanan-layanan</a></li>
            <li><a href="">Pertanyaan sering diajukan</a></li>
            <li><a href="">Kontak</a></li>
            <li><a href="">Dukungan</a></li>
        </ul>
    </div>
    <div class="row text-center">
        <p class="copyright">
            @ 2016 WBMonstr. All Rights Reserve
        </p>
    </div>
</footer>
<script src="js/jquery.min.js"></script>
<script src="js/materialize.min.js"></script>
<script src="js/nprogress.js"></script>
<script src="js/jquery.nicescroll.min.js"></script>
<script src="js/script.js"></script>

{% include analytics.html %}
