<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include meta-seo.html %}
    <title>WBMonstr - Blending Art, Creativity and Code Be MonstrAwesome!</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/ionicons.min.css">
    <link rel="stylesheet" href="css/nprogress.css">
    <link rel="stylesheet" href="css/materialize.min.css">
    <link rel="stylesheet" href="css/main.css">
    {% include analytics.html %}
</head>