<div id="plan">
    <div class="row">
        <div class="col l12 text-center">
            <h2 class="text-blue">BIAYA PEMBUATAN</h2>
            <p>Kira-kira berapakah besaran biaya yang akan kami tawarkan dengan anda?</p>
        </div>
    </div>
    <div class="row">
        <div class="col l8 offset-l2 s12">

        {% for pricing in site.data.pricing %}
        {% assign price = pricing[1] %}
            <div class="col l6 s12">
                <div class="card-plan">
                    <div class="card-header">
                        <div class="icon">
                            <img src="image/Assets/{{price.icon}}" alt="">
                        </div>
                        <div class="desc">
                            <h4>{{ price.title }}</h4>
                            <h5>{{ price.harga }}</h5>
                            <p>{{ price.status }}</p>
                        </div>
                    </div>
                    <div class="card-list-plan">
                        <ul class="collapsible popout">
                            {% for fitur in price.fitur %}

                            <li>
                                <div class="collapsible-header">
                                    <i class="icon ion-android-checkbox-outline"></i>
                                    {{fitur.nama}}
                                </div>
                                <div class="collapsible-body">
                                    <p>{{fitur.desc}}</p>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div> <!-- col l6 -->
        {% endfor %}
        </div>
        <!-- col l8 -->
    </div><!-- row -->
    <!-- row -->
    <div class="row">
        <div class="col l8 offset-l2 text-center info-plan">
            <h4>Harga diatas masih berlaku promo</h4>
            <p>Tidak ada batas waktu yang menentukan berakhirnya promo bisa saja besok promo sudah tidak berlaku jadi buruan sebelum harganya kembali ke harga normal. Segera Hubungi Kami.</p>
            <p class="phone-contact"><i class="icon ion-ios-telephone"></i>{{ site.telephone}}</p>
        </div>
    </div>
</div>
