<div itemscope itemtype="http://schema.org/LocalBusiness">
    <span itemprop="name">WBMonstr</span>
    <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        <span itemprop="streetAddress"></span>
        <span itemprop="addressLocality">Denpasar</span>,
        <span itemprop="addressRegion">Indonesia</span>
        <span itemprop="postalCode">80222</span>
    </div>
    Phone: <span itemprop="telephone">089526770326</span>
</div>
<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "Organization",
    "legalName": "WBMonstr",
    "url": "http://elitesem.com/",
    "contactPoint": [{
        "@type": "ContactPoint",
        "telephone": "+6289526770326",
        "contactType": "customer service"
    }],
    "logo": "https://wbmonstr.github.io/apple-icon-180x180.png",
    "sameAs": ["http://www.facebook.com/wbmonstr",
        "http://www.twitter.com/wbmonstr",
        "http://plus.google.com/+wbmonstr",
        "https://www.youtube.com/user/wbmonstr"
    ]
}
</script>
