<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "Organization",
    "legalName": "WBMonstr",
    "url": "http://wbmonstr.github.io/",
    "contactPoint": [{
        "@type": "ContactPoint",
        "telephone": "+6289526770326",
        "contactType": "customer service"
    }],
    "logo": "https://wbmonstr.github.io/apple-icon-180x180.png",
    "sameAs": ["http://www.facebook.com/wbmonstr",
        "http://www.twitter.com/wbmonstr",
        "http://plus.google.com/+wbmonstr",
        "https://www.youtube.com/user/wbmonstr"
    ]
}
</script>
