<!-- <script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "LocalBusiness",
    "legalName": "WBMonstr",
    "url": "http://wbmonstr.github.io/",
    "contactPoint": [{
        "@type": "ContactPoint",
        "telephone": "+6289526770326",
        "contactType": "customer service"
    }],
    "logo": "https://wbmonstr.github.io/apple-icon-180x180.png",
    "sameAs": ["http://www.facebook.com/wbmonstr",
        "http://www.twitter.com/wbmonstr",
        "http://plus.google.com/+wbmonstr",
        "https://www.youtube.com/user/wbmonstr"
    ]
}
</script> -->


<!-- <script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "LocalBusiness",
  "address": [{
    "@type": "PostalAddress",
    "addressLocality": "Denpasar",
    "addressRegion": "Indonesia"
  }],
  "description": "Blending Art, Creativity and Code be Awesome.",
  "name": "WBMonstr",
  "telephone": "+6289526770326"
}
</script> -->

<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "Organization",
  "name" : "WBMonstr",
  "url" : "https://wbmonstr.github.io",
  "sameAs" : [
    "https://twitter.com/wbmonstr",
    "https://plus.google.com/+wbmonstr",
    "https://www.facebook.com/wbmonstr"
 ]
}
</script> 
