<div id="services">
    <!-- <div class="container"> -->
    <div class="row">
        <div class="col l12 s12 text-center">
            <h2>LAYANAN</h2>
            <p>Aplikasi dan Website yang bisa kami buat</p>
        </div>
    </div>
    <div class="row">
        <div class="col l12">
            <ul class="list-service">
                {% for layanan in site.data.layanan %} {% if layanan.status != "draft" %}
                <li>
                    <div class="icon">
                        {% if layanan.img %}
                        <img src="image/Assets/{{layanan.img}}"> {% endif %}
                    </div>
                    <div class="desc">
                        <h3>{{layanan.title}}</h3>
                        <p>{{layanan.desc}}</p>
                    </div>
                </li>
                {% endif %} {% endfor %}
            </ul>
        </div>
    </div>
    <hr class="half">
    <div class="row text-center">
        <h2>PELAYANAN LAINNYA</h2>
        <div class="col l8 offset-l2">
            <p>Selain layanan diatas kami juga menyediakan lain yang dapat anada gunakan untuk menunjang website anda. Mengenai itu anda dapat mengunjungi <a href="/layanan-lainnya">layanan lainnya</a></p>
        </div>
    </div>
</div>



