<div id="subscribe-form">
    <div class="row">
        <div class="col l6 offset-l3 text-center">
            <p>Berlangganan untuk mendapatkan email terbaru dari kami berupa promo terbaru dengan memasukan email anda dibawah ini.</p>
        </div>
    </div>
    <div class="row">
        <div class="col l4 offset-l3 s12">
            <div class="input-field" title="Klik untuk menginput email anda!">
                <i class="icon ion-email prefix"></i>
                <input id="subscribe-input" type="email">
                <label for="subscribe-input" class="hide-on-med-and-down">Masukan sebuah email untuk berlangganan</label>
            </div>
        </div>
        <div class="col l2 s12">
            <button class="btn waves" title="Klik untuk mensubmit email yang telah anda masukan">Subscribe</button>
        </div>
    </div>
</div>
