<div id="weare">
    <div class="row" id="ba">
        <div class="col l6">
            <h3 class="text-blue" title="Sebenarnya kami ini bisa apa?">BISA APA?</h3>
            <p>Kita bisa bantu kamu untuk membangun website, dengan pendekatan bergaya material design. nantinya bisa kamu jadiin sebagai sarana perkenalan produk atau usahamu. Cocok banget buat kamu yang muda-muda baru membuka usaha/UKM</p>
        </div>
        <div class="col l6 icon">
            <img src="image/device-screenshot.png" class="img-full">
        </div>
    </div>
    <hr class="half">
    <div class="row">
        <div class="col l6">
            <h3 class="text-blue">TENTANG KAMI</h3>
            <p>WBMonstr merupakan startup yang digagas oleh beberapa developer yang ahli dibidangnya. Saat ini kami memfokuskan diri ke layanan web design dan menjadikan web bergaya modern sebagai kunci utama rahasia kami.</p>
        </div>
        <div class="col l6">
            <h3 class="text-blue">KREATIVITAS TANPA BATAS</h3>
            <p>Masing-masing orang di team kami adalah seniman dibidangnya. Sesuatu yang kami buat mirni dibuat dengan sepenuh hati.</p>
            <a href="#" class="btn waves-effect waves-light">PELAJARI LEBIH LANJUT</a>
        </div>
    </div>
</div>
