<!DOCTYPE html>
<html lang="en">
{% include head.html %} {% include header.html %}
<div class="banner-page">
    <h2>DUKUNGAN LAYANAN</h2>
    <p>Selamat datang di halaman dukungan yang berisi informasi dukungan kami terhadap web yang mendapatkan dukungan.</p>
</div>
<!-- banner -->
<div id="dukungan-info">
    <div class="row">
        <div class="col l8">
            <h3>APA ITU DUKUNGAN DARI WBMONSTR?</h3>
            <p>Dukungan WBMonstr merupakan dukungan yang kami berikan kepada client yang telah bekerja sama mengenai pembuatan website bersama kami. Dukungan sendiri berjalan sepanjang 6 bulan pertama semenjak penyerahan website kepada client.</p>
        </div>
        <div class="col l2 offset-l2 s6 offset-s3">
            <img src="image/Assets/komunitas.png" class="img-full" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col l2 s6 offset-s3">
            <img src="image/Assets/catalog.png" class="img-full" alt="">
        </div>
        <div class="col l8 offset-l2">
            <h3>APA KEUNTUNGAN MENDAPATKAN DUKUNGAN?</h3>
            <p>Banyak sekali keuntungan yang akan didapat ketika mendapatkan dukungan WBMonstr salah satunya adalah, perawatan gratis, mendapatkan penawaran menarik, selain itu juga akan mendapatkan harga khusus pada setiap layanan tambahan dan jika beruntung akan mendapatkan layanan tambahan gratis.</p>
        </div>
    </div>
    <div class="row">
        <div class="col l8">
            <h3>CARA MENDAPATAKAN DUKUNGAN YANG TELAH HABIS?</h3>
            <p>Anda dapat memperpanjang kerja sama dengan melakukan kontrak tambahan dengan durasi antara 1 - 5 Tahun. Untuk biaya bisa menghubungi kami untuk penyesuaian harga.</p>
        </div>
        <div class="col l2 offset-l2 s6 offset-s3">
            <img src="image/Assets/rental.png" class="img-full" alt="">
        </div>
    </div>
</div>
{% include subscribe.html %} {% include footer.html %}
</body>

</html>
