<!DOCTYPE html>
<html lang="en">
{% include head.html %} {% include header.html %}
<div class="banner-page">
    <div class="row">
        <div class="col l8 offset-l2">
            <h2>KONTAK</h2>
            <p>Berisi kontak yang dapat anda gunakan untuk menghubungi kami dan social media agar dapat terhubung dengan kami selalu.</p>
        </div>
    </div>
</div>
<div class="container" id="kontak">
    <div class="row">
        <div class="col l6 s12">
            <h2>Kontak</h2>
            <ul class="kontak">
                {% for kontak in site.data.kontak %}
                <li>
                    <i class="{{ kontak.icon }}"></i>
                    <div class="desc">
                        <h3>{{ kontak.title }}</h3>
                        <p>{{ kontak.desc }}</p>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col l6 s12">
            <h2>Social Media</h2>
            <ul class="kontak">
                {% for kontak in site.data.social %}
                <li>
                    <i class="{{ kontak.icon }}"></i>
                    <div class="desc">
                        <h3>{{ kontak.title }}</h3>
                        <p> <a href="{{kontak.link}}">{{ kontak.desc }}</a></p>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% include subscribe.html %} {% include footer.html %}
</body>

</html>
