<!DOCTYPE html>
<html lang="en">
{% include head.html %} {% include header.html %}
<div class="banner-page">
    <div class="row">
        <div class="col l8 offset-l2">
            <h2>KONTAK</h2>
            <p>Berisi kontak yang dapat anda gunakan untuk menghubungi kami dan social media agar dapat terhubung dengan kami selalu.</p>
        </div>
    </div>
</div>
<div class="container" id="kontak">
    <div class="row">
        <div class="col l6 s12">
            <h2>Kontak</h2>
            <ul class="kontak">
                <li><i class="ion-ios-telephone"></i>
                    <div class="desc">
                        <h3>Telephone</h3>
                        <p>0895648538</p>
                    </div>
                </li>
                <li>
                    <i class="ion-chatboxes"></i>
                    <div class="desc">
                        <h3>BBM</h3>
                        <p>745d48d</p>
                    </div>
                </li>
                <li>
                    <i class="ion-email"></i>
                    <div class="desc">
                        <h3>Email</h3>
                        <p>ask@wbmonstr</p>
                    </div>
                </li>
                <li>
                    <i class="ion-chatbubble"></i>
                    <div class="desc">
                        <h3>LINE</h3>
                        <p>@wbmonstr</p>
                    </div>
                </li>
                <li>
                    <i class="ion-social-whatsapp"></i>
                    <div class="desc">
                        <h3>WhatsApp</h3>
                        <p>089787556</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col l6 s12">
            <h2>Social Media</h2>
            <ul class="kontak">
                <li><i class="ion-social-facebook"></i>
                    <div class="desc">
                        <h3>Facebook</h3>
                        <p>https://facebook.com/wbmonstr</p>
                    </div>
                </li>
                <li>
                    <i class="ion-social-twitter"></i>
                    <div class="desc">
                        <h3>Twitter</h3>
                        <p>@WBMonstr</p>
                    </div>
                </li>
                <li>
                    <i class="ion-social-googleplus"></i>
                    <div class="desc">
                        <h3>Google Plus</h3>
                        <p>https://plus.google.com/wbmonstr</p>
                    </div>
                </li>
                <li>
                    <i class="ion-social-codepen"></i>
                    <div class="desc">
                        <h3>Codepen</h3>
                        <p>http://codepen.io/wbmonstr</p>
                    </div>
                </li>
                <li>
                    <i class="ion-social-dribbble"></i>
                    <div class="desc">
                        <h3>Dribbble</h3>
                        <p>http://dribble.com</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
{% include subscribe.html %} {% include footer.html %}
</body>

</html>
