<!DOCTYPE html>
<html lang="en">
{% include head.html %} {% include header.html %}
<div id="slide-banner">
    <!-- <div class="container"> -->
    <div class="row">
        <div class="col l8 s12 offset-l2" id="logo-banner">
            <!-- <img src="image/Assets/wbmonstr.png"> -->
        </div>
    </div>
    <div class="row">
        <div class="col s12 text-center" id="tagline">
            <h2 title="Membuat sesuatu yang menajubkan dengan seni, kreativitas & kode">"Blending Art, Creativity and Code be Awesome!"</h2>
            <h3>Art + Creativity + Code = Awesome</h3>
        </div>
    </div>
    <!-- </div> -->
</div>
<!-- slide-banner -->
{% include weare.html %}
{% include benefit.html %}
{% include services.html %}
{% include pricing.html %}
{% include subscribe.html %}
{% include footer.html %}

</body>

</html>
